* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    width: 100%;
    height: 550px;
}

.container{
	position: relative;
    width: 375px;
    height: 450px;
    margin: 10px auto;
    text-align: center;
}
.directions {
	padding: 10px;
	width: 100%;
	line-height: 1.5em;

}
.square {
	width: 400px;
	height: 600px;
	float:left;
	margin:30px auto 0 auto;
}

.title {
	font-size: 30px;
	margin: 20px auto;
	color: #CD1076;
}
.back {
	
	margin-top: 5px;
}

.game {
	width: 200px;
	height: 400px;
	background-color: #F2FAFF;
	border: 1px solid blue;
    border-top: none;
	position: relative;
	float:left;
}

.next {
	width: 80px;
	height:80px;
	background-color: #F2FAFF;
	position: relative;
	border: 1px solid blue;
	float:left;
	margin-left:40px; 

}

.info{
	float:left;
	margin-left:40px;
	margin-top:40px; 
}

.none, .current, .done{
	width: 20px;
	height: 20px;
	position: absolute;
	box-sizing: border-box;

}

.none{
	background-color: #F2FAFF;
}

.current {
	background-color: coral;
	border: 1px solid white;
}

.done {
	background-color: #97C0D8;
	border: 1px solid #234C73;
}




















